<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actordetails1" class="com.stackroute.domain.Actor">
        <property name="name" value="Akash"></property>
        <property name="age" value="22"></property>
        <property name="gender" value="Male"></property>
    </bean>

    <bean id="actordetails2" class="com.stackroute.domain.Actor">
        <property name="name" value="Mahi"></property>
        <property name="gender" value="Male"></property>
        <property name="age" value="21"></property>
    </bean>

    <bean id="moviedetails1" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actordetails1"></property>
    </bean>

    <bean id="moviedetails2" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actordetails2"></property>
    </bean>



</beans>