<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="actor" class="com.stackroute.domain.Actor">
       <constructor-arg name="name" value="Vineet"/>
       <constructor-arg name="gender" value="Male"/>
       <constructor-arg name="age" value="22"/>
   </bean>

    <bean id="actress" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Rakul Preet"/>
        <constructor-arg name="gender" value="Female"/>
        <constructor-arg name="age" value="21"/>
    </bean>

    <bean id="movie" scope="prototype" class="com.stackroute.domain.Movie" autowire="byName"></bean>

<!--    <bean id="movie1" scope="prototype" class="com.stackroute.domain.Movie" autowire="byType"></bean>-->
<!--   it throughs an exception becoz type can be same -->


    <bean id="movie1" scope="prototype" class="com.stackroute.domain.Movie" autowire="constructor"></bean>

  <!--  <bean id="beanLifecycle" class="com.stackroute.domain.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy"></bean>
-->
    <bean id="beanPostProcessor" class="com.stackroute.domain.BeanPostProcessorDemoBean" ></bean>


</beans>