<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="actor1" class="com.stackroute.domain.Actor">
       <constructor-arg name="name" value="Vineet"/>
       <constructor-arg name="gender" value="Male"/>
       <constructor-arg name="age" value="22"/>
   </bean>

    <bean id="movie1" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actor1"></property>
    </bean>

    <bean id="movie2" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actor1"></property>
    </bean>

    <bean id="movie3" class="com.stackroute.domain.Movie" scope="prototype">
        <property name="actor" ref="actor1"></property>
    </bean>

    <bean id="movie4" class="com.stackroute.domain.Movie" scope="prototype">
        <property name="actor" ref="actor1"></property>
    </bean>

    <bean name="MovieA, MovieB" class="com.stackroute.domain.Movie">
        <property name="actor" ref="actor1"></property>
    </bean>



</beans>